.colorNword{
    color: black;
    text-decoration: none;
}

.susc{
    background-color:#446E90;
    color: white;

}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.textjustify{
    text-align: justify;
}

blockquote{
    text-align: justify;
}

.horas {
    color: #8F8F8F;
    font-size: 9px;
}