*{
    margin: 0px;
    padding: opx;
}

body{
    width: 100%;
    background-color: #242426;
}
.portada-inicial{
    width: 100%;
    height: 800px;
    background: url(img/8625ec_f7242393b95242b3b73d344012096453_mv2.webp);
}

.logotipo img{
    width: 13%;
    margin-top: 15px;
    margin-left: 60px;
}

/*MENÚ DE NAVEGACIÓN*/

.menu-portada-inicial{
    float: right;
}

.menu-portada-inicial .profile {
    color: white;
}

.menu-portada-inicial .profile a{
    text-decoration: none;
    color: white;
}

.menu-portada-inicial ul ol p{
    font-size: 13px;
}

.menu-portada-inicial ul ol{
    float: left;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
}

.menu-portada-inicial ul ol a{
    text-decoration: none;
    color: #6c6c6c;
}

.menu-portada-inicial .other :hover{
    color: white;
}

.getaquote{
    background-color: white;
    padding: 10px 20px;
    border-radius: 40px;
    color: black;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

.getaquote a{
    text-decoration: none;
    color: black;
}

.getaquote a :hover{
    font-size: 20px;
}