*{
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    margin: auto; 
    background: url(img/fondo2.jpg);
}


/*BARRA DE NAVEGACIÓN SUPERIOR*/

.barra-superior{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.barra-superior img{
    width: 180px;
    height:  50px;
}

.barra-superior a{
    float: left;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: #333333;
}

.barra-superior li{
    list-style: none;
    margin-left: 40px;
    margin-top: 15px;
}

.barra-superior a:hover{
    color: #f74545;
}

/*BANNER PRINCIPAL*/

.banner-princ{
    margin-top: 100px;
    margin-left: 0;
}

.banner-princ h1{
    font-family:'Oswald', sans-serif;
    font-size: 8em;
    color:#231f20;
}

.banner-princ p{
    width: 65%;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 1.7;
    color:#333333
}

.boton{
    margin-top: 50px;
}

.boton a{
    background-color: #f74545;
    padding:15px 30px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 24px;
}

.boton a:hover{
    background-color: #231f20;
}

/*SECCIÓN DE NOTICIAS*/

.noticias1{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.not-der img{
    width: 550px;
}

.not-izq img{
    width: 550px;
    margin-top: 270px;
}

.not-der h3{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color:#231f20;
}

.not-der p{
    width: 550px;
    font-size: 18px;
}

.not-der a{
    text-decoration: none;
}

.not-der a:hover p{
    color: #f74545;
}



.noticias2{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 150px;
}

.not-izq h3{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color:#231f20;
}

.not-izq p{
    width: 550px;
    font-size: 18px;
}

.not-izq a{
    text-decoration: none;
}

.not-izq a:hover p{
    color: #f74545;
}

.foto1{
    position: relative;
    
}

/*BOTON MID PAGE*/

.boton2{
    text-align: center;
}

.bot-mid{
    background-color: #f74545;
    padding:15px 30px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 24px;
}

.bot-mid:hover{
    background-color: #231f20;
}

/*DESIGN SYSTEMS*/

.design{
    margin-top: 130px;
}

.design h3{
    font-family: 'Oswald', sans-serif;
    font-size: 7em;
    color:#231f20;
}

.design p{
    width: 65%;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 1.7;
    color:#333333
}

.design a{
    color: #231f20;
    font-size: 24px;
    font-family:sans-serif;
    line-height: 1.7;
    text-decoration: underline;
}

.design a:hover{
    color: #f74545;
}


/*BARRA DE NAVEGACIÓN HORIZONTAL*/

.lat-bar{
    margin-top: 120px;
}

.lat-bar ul{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.lat-bar li{
    list-style: none;
}

.lat-bar img{
    width: 550px;
}


/*EMPRESAS*/

.isotipos{
    margin-top: 200px;
}
.isotipos h3{
    font-family: 'Oswald', sans-serif;
    font-size: 7em;
    color:#231f20;
}

.tira1{
    display: flex;
    justify-content: space-between;
}

.tira1 img{
    margin-top: 70px;
    width: 160px;
}

.tira2{
    display: flex;
    justify-content: space-between;
}

.tira2 img{
    margin-top: 70px;
    width: 150px;
}

/*BANNER FINAL*/

.bann-end{
    text-align: center;
    margin-top: 150px;
    line-height: 1.7;
}

.bann-end h3{
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    color:#231f20;
}

.bann-end p{
    width: 100%;
}

.bann-end a{
    background-color: #f74545;
    padding:15px 30px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 24px;
}

.bann-end a:hover{
    background-color: #231f20;
}

.bann-enda{
    margin-top: 40px;
}


/*footer*/

footer{
    margin-top: 200px;
    margin-bottom: 20px;
    
}
.fot p{
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
    font-family: sans-serif;
}

.fot a{
    color:#333333;
}

.fot a:hover{
    color: #f74545;
}